<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/onkyarity-app-backend/src/main/java/onkyarity/main/AppStarterMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="onkyarity.main.AppStarterMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="onkyarity-app-backend"/>
</launchConfiguration>
